body {
	background: mintcream;
}

.thumbnail img {
	width: 100%;
}

#showPgThumbnail {
	padding: 0;
}

#formdiv {
	width: 30%;
	margin: 25px auto;
}

.gridfix {
	display: flex;
	flex-wrap: wrap;
}

.delete-form {
    display: inline;
}

